-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: stay_management
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `amenities`
--

DROP TABLE IF EXISTS `amenities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `amenities` (
  `amenity_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `amenity_name` varchar(60) NOT NULL,
  `icon` varchar(60) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`amenity_id`),
  UNIQUE KEY `uq_amenity_name` (`amenity_name`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amenities`
--

LOCK TABLES `amenities` WRITE;
/*!40000 ALTER TABLE `amenities` DISABLE KEYS */;
INSERT INTO `amenities` VALUES (16,'WiFi','wifi.png',1),(17,'Television','television.png',1),(18,'Smart TV','smart-tv.png',1),(19,'Mini Bar','mini-bar.png',1),(20,'Coffee Machine','coffee-machine.png',1),(21,'Hair Dryer','hair-dryer.png',1),(22,'Safe Locker','safe.png',1),(23,'Iron','iron.png',1),(24,'Bathtub','bathtub.png',1),(25,'Shower','shower.png',1),(26,'Microwave','microwave.png',1),(27,'Air Conditioner','air-conditioner.png',1),(28,'Refrigerator','refrigerator.png',1),(29,'Balcony','balcony-window.png',1),(30,'Work Desk','desk-table.png',1);
/*!40000 ALTER TABLE `amenities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_channels`
--

DROP TABLE IF EXISTS `booking_channels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking_channels` (
  `channel_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `channel_name` varchar(100) NOT NULL COMMENT 'Booking Channel Name',
  `channel_category` enum('Direct','OTA','Corporate','Agent','Referral','Internal','Other') NOT NULL COMMENT 'Booking Channel Category',
  `commission_percentage` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'Default Commission Percentage',
  `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1 = Active, 0 = Inactive',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`channel_id`),
  UNIQUE KEY `uk_channel_name` (`channel_name`),
  KEY `idx_channel_category` (`channel_category`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_channels`
--

LOCK TABLES `booking_channels` WRITE;
/*!40000 ALTER TABLE `booking_channels` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_channels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_details`
--

DROP TABLE IF EXISTS `booking_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint(20) unsigned NOT NULL,
  `property_id` bigint(20) unsigned NOT NULL,
  `booking_number` varchar(20) NOT NULL COMMENT 'human-facing unique, e.g. BKG00001',
  `customer_id` bigint(20) unsigned NOT NULL COMMENT 'FK -> customers.id (whose booking)',
  `booking_channel_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK booking_channels.channel_id',
  `status_id` bigint(20) unsigned NOT NULL DEFAULT 1,
  `property_name` varchar(150) DEFAULT NULL,
  `scheduled_check_in_date` date DEFAULT NULL,
  `scheduled_check_out_date` date DEFAULT NULL,
  `length_of_stay` int(11) DEFAULT NULL,
  `checked_in_at` datetime DEFAULT NULL,
  `checked_out_at` datetime DEFAULT NULL,
  `total_guest` int(11) DEFAULT NULL,
  `room_category_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK room_categories.category_id',
  `room_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK rooms.id ├ö├ç├╢ allotted room',
  `room_quantity` int(11) DEFAULT NULL,
  `total_unit` int(11) DEFAULT NULL,
  `total_amount` decimal(12,2) DEFAULT NULL,
  `amount_paid` decimal(12,2) DEFAULT NULL,
  `remaining_amount` decimal(12,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_booking_number` (`property_id`,`booking_number`),
  UNIQUE KEY `uq_bd_identity_scope` (`id`,`property_id`,`customer_id`,`tenant_id`),
  KEY `idx_bd_customer` (`customer_id`),
  KEY `idx_bd_checkin` (`scheduled_check_in_date`),
  KEY `idx_bd_room` (`room_id`),
  KEY `idx_bd_status_id` (`status_id`),
  KEY `idx_bd_property_status_date` (`property_id`,`status_id`,`scheduled_check_in_date`),
  KEY `idx_bd_property_room` (`property_id`,`room_id`),
  KEY `idx_bd_tenant_customer` (`tenant_id`,`customer_id`),
  KEY `fk_bd_property_tenant` (`property_id`,`tenant_id`),
  KEY `fk_bd_customer_tenant` (`customer_id`,`tenant_id`),
  KEY `fk_bd_room_property` (`room_id`,`property_id`),
  KEY `fk_bd_room_category_property` (`room_category_id`,`property_id`),
  KEY `fk_bd_channel` (`booking_channel_id`),
  CONSTRAINT `fk_bd_channel` FOREIGN KEY (`booking_channel_id`) REFERENCES `booking_channels` (`channel_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bd_customer_tenant` FOREIGN KEY (`customer_id`, `tenant_id`) REFERENCES `customers` (`id`, `tenant_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bd_property_tenant` FOREIGN KEY (`property_id`, `tenant_id`) REFERENCES `properties` (`id`, `tenant_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bd_room_category_property` FOREIGN KEY (`room_category_id`, `property_id`) REFERENCES `room_categories` (`category_id`, `property_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bd_room_property` FOREIGN KEY (`room_id`, `property_id`) REFERENCES `rooms` (`id`, `property_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_bd_status` FOREIGN KEY (`status_id`) REFERENCES `status_master` (`status_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_details`
--

LOCK TABLES `booking_details` WRITE;
/*!40000 ALTER TABLE `booking_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_identities`
--

DROP TABLE IF EXISTS `customer_identities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_identities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint(20) unsigned NOT NULL,
  `property_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned NOT NULL,
  `booking_id` bigint(20) unsigned DEFAULT NULL,
  `identity_type` varchar(30) NOT NULL,
  `identity_number` varchar(50) DEFAULT NULL,
  `document_path` varchar(255) DEFAULT NULL,
  `document_path_2` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ci_customer` (`customer_id`),
  KEY `idx_ci_booking_customer` (`booking_id`,`customer_id`),
  KEY `idx_ci_property_customer_booking` (`property_id`,`customer_id`,`booking_id`),
  KEY `idx_ci_tenant_customer` (`tenant_id`,`customer_id`),
  KEY `fk_ci_property_tenant` (`property_id`,`tenant_id`),
  KEY `fk_ci_customer_tenant` (`customer_id`,`tenant_id`),
  KEY `fk_ci_booking_scope` (`booking_id`,`property_id`,`customer_id`,`tenant_id`),
  CONSTRAINT `fk_ci_booking_scope` FOREIGN KEY (`booking_id`, `property_id`, `customer_id`, `tenant_id`) REFERENCES `booking_details` (`id`, `property_id`, `customer_id`, `tenant_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_ci_customer_tenant` FOREIGN KEY (`customer_id`, `tenant_id`) REFERENCES `customers` (`id`, `tenant_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_ci_property_tenant` FOREIGN KEY (`property_id`, `tenant_id`) REFERENCES `properties` (`id`, `tenant_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_identities`
--

LOCK TABLES `customer_identities` WRITE;
/*!40000 ALTER TABLE `customer_identities` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_identities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint(20) unsigned NOT NULL,
  `customer_code` varchar(20) NOT NULL,
  `customer_name` varchar(150) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `pincode` varchar(15) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_customer_code` (`tenant_id`,`customer_code`),
  UNIQUE KEY `uq_customer_id_tenant` (`id`,`tenant_id`),
  UNIQUE KEY `uq_customer_tenant_phone` (`tenant_id`,`phone`),
  KEY `idx_name` (`customer_name`),
  KEY `idx_phone` (`phone`),
  KEY `idx_customer_tenant_active_name` (`tenant_id`,`is_active`,`customer_name`),
  CONSTRAINT `fk_customer_tenant` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_requests`
--

DROP TABLE IF EXISTS `otp_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `otp` varchar(6) NOT NULL,
  `expires_at` datetime NOT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `attempts` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_otp_lookup` (`user_id`,`is_verified`,`expires_at`),
  CONSTRAINT `fk_otp_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=248 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_requests`
--

LOCK TABLES `otp_requests` WRITE;
/*!40000 ALTER TABLE `otp_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `properties`
--

DROP TABLE IF EXISTS `properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `properties` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint(20) unsigned NOT NULL,
  `property_code` varchar(30) NOT NULL,
  `property_name` varchar(150) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_property_tenant_code` (`tenant_id`,`property_code`),
  UNIQUE KEY `uq_property_id_tenant` (`id`,`tenant_id`),
  KEY `idx_property_tenant_active_name` (`tenant_id`,`is_active`,`property_name`),
  KEY `fk_property_created_by` (`created_by`),
  CONSTRAINT `fk_property_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_property_tenant` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `properties`
--

LOCK TABLES `properties` WRITE;
/*!40000 ALTER TABLE `properties` DISABLE KEYS */;
INSERT INTO `properties` VALUES (1,1,'LEGACY','Legacy Property',1,2,'2026-08-20 09:45:38',NULL),(2,2,'101','Hotel1',1,4,'2026-08-20 10:29:49',NULL);
/*!40000 ALTER TABLE `properties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_amenities`
--

DROP TABLE IF EXISTS `room_amenities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room_amenities` (
  `room_id` bigint(20) unsigned NOT NULL,
  `amenity_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`room_id`,`amenity_id`),
  KEY `idx_ra_amenity` (`amenity_id`),
  CONSTRAINT `fk_ra_amenity` FOREIGN KEY (`amenity_id`) REFERENCES `amenities` (`amenity_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ra_room` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_amenities`
--

LOCK TABLES `room_amenities` WRITE;
/*!40000 ALTER TABLE `room_amenities` DISABLE KEYS */;
INSERT INTO `room_amenities` VALUES (6,23),(6,25),(6,27);
/*!40000 ALTER TABLE `room_amenities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_categories`
--

DROP TABLE IF EXISTS `room_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room_categories` (
  `category_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `property_id` bigint(20) unsigned NOT NULL,
  `category_name` varchar(100) NOT NULL,
  `short_code` varchar(20) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `max_adults` int(11) DEFAULT NULL,
  `max_children` int(11) DEFAULT NULL,
  `room_size` varchar(30) DEFAULT NULL,
  `room_size_unit` varchar(15) DEFAULT 'sq.ft',
  `bed_type` varchar(40) DEFAULT NULL,
  `bed_count` int(11) DEFAULT NULL,
  `smoking_allowed` tinyint(1) NOT NULL DEFAULT 0,
  `default_tax_id` bigint(20) unsigned DEFAULT NULL,
  `default_sac_code` varchar(20) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `uq_category_name` (`property_id`,`category_name`),
  UNIQUE KEY `uq_category_id_property` (`category_id`,`property_id`),
  UNIQUE KEY `uq_category_short_code` (`property_id`,`short_code`),
  KEY `idx_category_property_status` (`property_id`,`status`,`display_order`),
  CONSTRAINT `fk_category_property` FOREIGN KEY (`property_id`) REFERENCES `properties` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_categories`
--

LOCK TABLES `room_categories` WRITE;
/*!40000 ALTER TABLE `room_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `property_id` bigint(20) unsigned NOT NULL,
  `room_code` varchar(20) NOT NULL,
  `room_no` varchar(30) NOT NULL,
  `category_id` bigint(20) unsigned DEFAULT NULL,
  `floor_no` varchar(20) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `remarks` varchar(500) DEFAULT NULL,
  `extra_bed_allowed` tinyint(1) NOT NULL DEFAULT 0,
  `selling_price` decimal(12,2) DEFAULT NULL,
  `housekeeping_status` varchar(30) DEFAULT 'Available',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` varchar(20) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_by` varchar(20) DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_room_code` (`property_id`,`room_code`),
  UNIQUE KEY `uq_room_no` (`property_id`,`room_no`),
  UNIQUE KEY `uq_room_id_property` (`id`,`property_id`),
  KEY `idx_category` (`category_id`),
  KEY `idx_floor` (`floor_no`),
  KEY `idx_hk` (`housekeeping_status`),
  KEY `idx_room_property_active_category` (`property_id`,`is_active`,`category_id`),
  KEY `idx_room_property_floor` (`property_id`,`floor_no`),
  KEY `fk_room_category_scope` (`category_id`,`property_id`),
  CONSTRAINT `fk_room_category_scope` FOREIGN KEY (`category_id`, `property_id`) REFERENCES `room_categories` (`category_id`, `property_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_room_property` FOREIGN KEY (`property_id`) REFERENCES `properties` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state_details`
--

DROP TABLE IF EXISTS `state_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `state_details` (
  `state_code_number` int(11) NOT NULL,
  `state_code` varchar(2) NOT NULL,
  `state_name` varchar(255) NOT NULL,
  `state_status` int(11) NOT NULL,
  `state_ad_by` int(11) NOT NULL,
  `state_ad_dt` datetime NOT NULL,
  PRIMARY KEY (`state_code_number`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state_details`
--

LOCK TABLES `state_details` WRITE;
/*!40000 ALTER TABLE `state_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `state_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_master`
--

DROP TABLE IF EXISTS `status_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `status_master` (
  `status_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `status_code` varchar(30) NOT NULL,
  `status_name` varchar(50) NOT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`status_id`),
  UNIQUE KEY `uq_status_code` (`status_code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_master`
--

LOCK TABLES `status_master` WRITE;
/*!40000 ALTER TABLE `status_master` DISABLE KEYS */;
INSERT INTO `status_master` VALUES (1,'room_booked','Room booked',1,1),(2,'checked_in','Checked in',2,1),(3,'checked_out','Checked out',3,1),(4,'cancelled','Cancelled',4,1),(5,'no_show','No show',5,1);
/*!40000 ALTER TABLE `status_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxes`
--

DROP TABLE IF EXISTS `taxes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxes` (
  `tax_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tax_name` varchar(60) NOT NULL,
  `tax_percentage` decimal(5,2) NOT NULL DEFAULT 0.00,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`tax_id`),
  UNIQUE KEY `uq_tax_name` (`tax_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxes`
--

LOCK TABLES `taxes` WRITE;
/*!40000 ALTER TABLE `taxes` DISABLE KEYS */;
INSERT INTO `taxes` VALUES (1,'GST 0%',0.00,1),(2,'GST 5%',5.00,1),(3,'GST 12%',12.00,1),(4,'GST 18%',18.00,1),(5,'GST 28%',28.00,1);
/*!40000 ALTER TABLE `taxes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenants`
--

DROP TABLE IF EXISTS `tenants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenants` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_active_name` (`is_active`,`name`),
  KEY `fk_tenant_created_by` (`created_by`),
  CONSTRAINT `fk_tenant_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenants`
--

LOCK TABLES `tenants` WRITE;
/*!40000 ALTER TABLE `tenants` DISABLE KEYS */;
INSERT INTO `tenants` VALUES (1,'Legacy Account',1,1,'2026-08-20 09:45:38',NULL),(2,'Testing1',1,1,'2026-08-20 10:28:17','2026-08-22 12:47:14');
/*!40000 ALTER TABLE `tenants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_property_access`
--

DROP TABLE IF EXISTS `user_property_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_property_access` (
  `tenant_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `property_id` bigint(20) unsigned NOT NULL,
  `assigned_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`,`property_id`),
  KEY `idx_upa_tenant_property` (`tenant_id`,`property_id`),
  KEY `idx_upa_assigned_by` (`assigned_by`),
  KEY `fk_upa_user_tenant` (`user_id`,`tenant_id`),
  KEY `fk_upa_property_tenant` (`property_id`,`tenant_id`),
  CONSTRAINT `fk_upa_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_upa_property_tenant` FOREIGN KEY (`property_id`, `tenant_id`) REFERENCES `properties` (`id`, `tenant_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_upa_user_tenant` FOREIGN KEY (`user_id`, `tenant_id`) REFERENCES `users` (`id`, `tenant_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_property_access`
--

LOCK TABLES `user_property_access` WRITE;
/*!40000 ALTER TABLE `user_property_access` DISABLE KEYS */;
INSERT INTO `user_property_access` VALUES (1,3,1,2,'2026-08-20 09:45:39'),(2,5,2,4,'2026-08-20 10:31:49');
/*!40000 ALTER TABLE `user_property_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `mobile_no` varchar(15) NOT NULL,
  `role` enum('super_admin','admin','user') NOT NULL DEFAULT 'user',
  `tenant_id` bigint(20) unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_login` datetime DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_mobile` (`mobile_no`),
  UNIQUE KEY `uq_users_id_tenant` (`id`,`tenant_id`),
  KEY `idx_users_tenant_role_active` (`tenant_id`,`role`,`is_active`),
  KEY `fk_user_created_by` (`created_by`),
  CONSTRAINT `fk_user_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_user_tenant` FOREIGN KEY (`tenant_id`) REFERENCES `tenants` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_users_role_tenant` CHECK (`role` = 'super_admin' and `tenant_id` is null or `role` in ('admin','user') and `tenant_id` is not null)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Super Admin','9876543210','super_admin',NULL,1,'2026-08-22 12:52:52',NULL,'2026-07-01 11:30:40',NULL),(2,'Legacy Admin','9988776655','admin',1,1,'2026-08-20 10:59:19',1,'2026-07-01 11:30:40',NULL),(3,'Legacy User','9123456789','user',1,0,NULL,2,'2026-07-01 11:30:40',NULL),(4,'Plant1','9589548491','admin',2,1,'2026-08-20 10:29:23',1,'2026-08-20 10:28:17','2026-08-22 12:47:14'),(5,'Anshu Mishra','1231231231','user',2,1,'2026-08-21 12:47:37',4,'2026-08-20 10:31:49',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'stay_management'
--

--
-- Dumping routines for database 'stay_management'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-22 13:39:16
